! https://github.com/BrodieRobertson/dotfiles/blob/master/.Xresources
xterm*.foreground:   #d8dee9
xterm*.background:   #1d1f21
xterm*.cursorColor:  #d8dee9
xterm*.color0:       #2d2d2d
xterm*.color8:       #444444
xterm*.color1:       #ed0b0b
xterm*.color9:       #b55454
xterm*.color2:       #40a62f
xterm*.color10:      #78a670
xterm*.color3:       #f2e635
xterm*.color11:      #faf380
xterm*.color4:       #3c71ea
xterm*.color12:      #707fd0
xterm*.color5:       #b30ad0
xterm*.color13:      #c583d0
xterm*.color6:       #32d0fc
xterm*.color14:      #8adaf1
xterm*.color7:       #555555
xterm*.color15:      #e0e3e7

xterm*termName: xterm-256color

! Use a truetype font and size.
! xterm*faceName: DejaVu Sans Mono:style=Book
! xterm*faceName: DejaVuSansMono Nerd Font Mono:style=Book
! xterm*faceName: RobotoMono Nerd Font Mono:style=Regular
! xterm*faceName: Cousine Nerd Font Mono:style=Regular
! xterm*faceName: FiraCode Nerd Font Mono:style=Regular
! xterm*faceName: Hack Nerd Font Mono:style=Regular
xterm*faceName: MesloLGS Nerd Font Mono:style=Regular
xterm*faceSize: 12
xterm*renderFont: true

! Only select text
xterm*highlightSelection: true
! Remove trailing spaces
xterm*trimSelection: true
! By default, 1024 lines are saved.
XTerm.vt100.saveLines: 4096
! Cursor color is always the color of the foreground,
xterm*cursorColor: *XtDefaultForeground
! The definition of a "word" depends on the character class resource
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48

! Copy paste clipboard & increase and decrease font
xterm*VT100.Translations: #override \
  Ctrl Shift <Key> V: insert-selection(CLIPBOARD) \n\
  Ctrl Shift <Key> C: copy-selection(CLIPBOARD) \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font() \n\
  Ctrl <Key> 0: set-vt-font(d) \n\
  Ctrl Shift <Key> K: scroll-back(1) \n\
  Ctrl Shift <Key> J: scroll-forw(1)
