xterm*termName: xterm-256color
/* !! brogrammer: */
xterm*.foreground:  #d6dbe5
xterm*.background:  #131313
xterm*.color0:      #1f1f1f
xterm*.color8:      #d6dbe5
xterm*.color1:      #f81118
xterm*.color9:      #de352e
xterm*.color2:      #2dc55e
xterm*.color10:     #1dd361
xterm*.color3:      #ecba0f
xterm*.color11:     #f3bd09
xterm*.color4:      #2a84d2
xterm*.color12:     #1081d6
xterm*.color5:      #4e5ab7
xterm*.color13:     #5350b9
xterm*.color6:      #1081d6
xterm*.color14:     #0f7ddb
xterm*.color7:      #d6dbe5
xterm*.color15:     #ffffff
xterm*.colorBD:     #d6dbe5

! Use a truetype font and size.
xterm*faceName: monospace
xterm*faceSize: 12
xterm*renderFont: true

! Only select text
xterm*highlightSelection: true
! Remove trailing spaces
xterm*trimSelection: true

! copy paste clipboard & increase and decrease font
xterm*VT100.Translations: #override \
  Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>C:    copy-selection(CLIPBOARD) \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font() \n\
  Ctrl <Key> 0: set-vt-font(d)

/* ! Dracula Xresources palette */
/* *.foreground: #F8F8F2 */
/* *.background: #282A36 */
/* *.color0:     #000000 */
/* *.color8:     #4D4D4D */
/* *.color1:     #FF5555 */
/* *.color9:     #FF6E67 */
/* *.color2:     #50FA7B */
/* *.color10:    #5AF78E */
/* *.color3:     #F1FA8C */
/* *.color11:    #F4F99D */
/* *.color4:     #BD93F9 */
/* *.color12:    #CAA9FA */
/* *.color5:     #FF79C6 */
/* *.color13:    #FF92D0 */
/* *.color6:     #8BE9FD */
/* *.color14:    #9AEDFE */
/* *.color7:     #BFBFBF */
/* *.color15:    #E6E6E6 */
