xterm*termName: xterm-256color
/* !! brogrammer: */
xterm*.foreground:  #d6dbe5
xterm*.background:  #131313
xterm*.color0:      #1f1f1f
xterm*.color8:      #d6dbe5
xterm*.color1:      #f81118
xterm*.color9:      #de352e
xterm*.color2:      #2dc55e
xterm*.color10:     #1dd361
xterm*.color3:      #ecba0f
xterm*.color11:     #f3bd09
xterm*.color4:      #2a84d2
xterm*.color12:     #1081d6
xterm*.color5:      #4e5ab7
xterm*.color13:     #5350b9
xterm*.color6:      #1081d6
xterm*.color14:     #0f7ddb
xterm*.color7:      #d6dbe5
xterm*.color15:     #ffffff
xterm*.colorBD:     #d6dbe5

! Use a truetype font and size.
! xterm*faceName: DejaVu Sans Mono:style=Book
xterm*faceName: Ubuntu Mono
xterm*faceSize: 14
xterm*renderFont: true

! Only select text
xterm*highlightSelection: true
! Remove trailing spaces
xterm*trimSelection: true

! copy paste clipboard & increase and decrease font
xterm*VT100.Translations: #override \
  Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>C:    copy-selection(CLIPBOARD) \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font() \n\
  Ctrl <Key> 0: set-vt-font(d)
